
.cont1 {
    display: grid;
    grid-template-columns: 0.55fr 1fr 1fr 1.5fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 10px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . .";
  }

  .item0 {
    grid-column-start: 1;
    grid-column-end: 9;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .item4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  @media screen and (max-width: 800px) {
    .item1{
      display: none;
    }
    

       
      /* .item2, .item3, .item4 {
        width: 100%;
        display: flex;
      } */
      .cont1 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        justify-items: left;
        align-items:stretch;
     }
    #menuShow{
      display: block;
    }
      .item0, nav {
        height: 20px;
        top: 0;
        width: 100%;
        background-color: #000000;
        /* display: flex; */
        align-items: center;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }
    
      .item0 h1, nav h1 {
          
          font-size: 35px;
          padding-left: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
       .item1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
      } 
    
      .item2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        top: -100px;
        height: 250px;
        width:100%;
        overflow: auto;
        position: relative;
      }
    
      .item3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start:3 ;
        grid-row-end: 3;
        top: -450px;
        height: fit-content;
        width:300px;
        overflow: auto;
        position: relative;
      }
      .item4 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        top: -450px;
        height: 500px;
        width:100%;
        overflow: auto;
        position: relative;
      }
    }